In [1]:
text = "Henry cat is {} years old"
text_f = text.format(2)

print(text_f)

Henry cat is 2 years old

In [3]:
"{} is a {} company".format("CareerDevs", "technology")

'CareerDevs is a technology company'

In [4]:
"{1} is a {0} company".format("CareerDevs", "technology")

'technology is a CareerDevs company'

In [8]:
"{company_name} is a {type} company".format(type="technology", company_name="CareerDevs")

'CareerDevs is a technology company'

In [10]:
population = {"india"   :1367097341,
              "china"   :1419518156,
              "US"      :328830848}

for key in population:
    print("{:<10} - {:>10}".format(key, population[key]))

india      - 1367097341
china      - 1419518156
US         -  328830848

In [11]:
print("The population of India is {:,}".format(1367097934))

The population of India is 1,367,097,934

In [12]:
try:
    1/0
except:
    print("something went wrong")

something went wrong

In [14]:
age = 21
try:
    age = age + "1"
    age = age/0
except TypeError:
    print("cannot add integer to string")
except ZeroDivisionError:
    print("divide by zero error")
except KeyError:
    print("dictionary key error")

cannot add integer to string

In [15]:
age = 21
try:
#     age = age + "1"
    age = age/0
except Exception as e:
    print(e)

division by zero

In [16]:
from datetime import date

today = date(2020, 7, 19)

In [17]:
today

datetime.date(2020, 7, 19)

In [18]:
t = date.today()

In [20]:
t = t.replace(year = 2021)

In [21]:
t

datetime.date(2021, 7, 19)

In [22]:
t = date.today()
t.weekday()

6

In [23]:
t

datetime.date(2020, 7, 19)

In [26]:
t = date.today()
t.replace(month = 11)

datetime.date(2020, 11, 19)

In [28]:
t.weekday()

6

In [31]:
from datetime import date

today = date(2019, 12, 1)
print(today.strftime("%b, %y"))

Dec, 19

In [34]:
from datetime import date

today = date(2019, 12, 1)
print(today.strftime("%W"))

47

In [36]:
from datetime import date

today = date(2020, 7, 19)
yesterday = date(2020, 7, 18)
print(yesterday - today)

-1 day, 0:00:00