In [6]:
person_1 = ("John", 25)
type(person_1)
person_1[-2]

'John'

In [10]:
number = ([1, 2, 3], [4, 5, 6])
number[0][1] = 13
number

([1, 13, 3], [4, 5, 6])

In [13]:
ages =(4, 5, 7, 3, 4, 7, 8, 5, 8, 5)
ages.index(7)

2

In [12]:
my_dict = {0:'True', False:'1'}
result1 = any(my_dict)
result2 = all(my_dict)

print(result1, result2)

False False

In [15]:
ages =(4, 5, 7, 3, 4, 7, 8, 5, 8, 5)

def primary_schools ( age ) :
    if 11 >= age >= 5 :
        return True
    else :
        return False
primary_school_age = filter(primary_schools, ages)

for age in primary_school_age :
    print(age)

5
7
7
8
5
8
5

In [20]:
weather = {"rainy", "rainy", "sunny", "snowy", "sunny", "rainy", "snowy"}
weather.add("stormy")
weather
weather.pop()
weather
weather.remove("sunny")
weather
weather.clear()
weather

set()

In [26]:
set1 = {1, 3, 5, 7, 9}
set2 = {5, 7, 9, 11, 13}

num = set1 & set2
num

{5, 7, 9}

In [ ]:
odd_num1 = {1, 3, 5, 7, 9}
odd_num2 = {7, 9, 11, 13}

odd = odd_num1 | odd_num2
odd